<div class="bg-slate-50 w-full  flex items-center p-3">
    <div class="flex flex-row w-full justify-between">
        <div class="flex flex-col">
            <div class="flex flex-row">
                <img src="/assets/img/user_icon.png" alt="Flowtrail UI" class="h-10 w-10">
                <h1 class="text-2xl font-bold mb-4 text-primary-900 ml-5">{{welcome_message}}</h1>

            </div>
        </div>
        <div class="flex flex-col ">
            <h5 class="text-slate-400 ">
                {{date}}
            </h5>
            <p class="text-slate-400">
                {{hour}}
            </p>
        </div>
    </div>

</div>