<div class="flex flex-col bg-white mt-2 px-4 py-4 rounded-xl">
    <h2 class="text-xl text-slate-400 font-bold mb-2">
        Contáctanos
    </h2>

    
    <p class="text-slate-400 font-medium text-sm">
        <span class="text-lg text-primary-900font-bold">
            Call center
        </span>
        <br>
        Llama a: <span class="text-[#562577]">04 600 4000</span> y para <br/>
        resolver todas tus necesidades.
    </p>
    <p class="text-slate-400 font-medium mt-3 text-sm">
        <span class="text-lg text-primary-900font-bold">
            Asesor Virtual Marce
        </span>
        <br>
        ¿Habla con Marce por <span class="text-[#562577]">whatsapp</span><br/>
        y soluciona cualquier duda?
    </p>
    <p class="text-slate-400 font-medium mt-3 text-sm">
        <span class="text-lg text-primary-900font-bold">
            Agencias
        </span>
        <br>
        Acercate a tu agencia más <br/> cernaca, revisa nuestros<br/> <a class="text-primary-900underline">centros de atención
            <ng-icon name="heroArrowTopRightOnSquare" class="h-4 w-4"></ng-icon>

        </a>
    </p>
    <p class="text-slate-400 font-medium mt-3 text-sm">
        <span class="text-lg text-primary-900font-bold">
            Red de pagos
        </span>
        <br>
        Revisa nuestra <br/>  <a class="text-primary-900underline">red de pagos

            <ng-icon name="heroArrowTopRightOnSquare" class="h-4 w-4"></ng-icon>
        </a>
    </p>
</div> 