<div class="flex flex-row bg-slate-50 py-5 px-8 rounded-lg w-full">
    <div class="flex flex-col items-center">
        <ng-content></ng-content>
    </div>
     <div class="flex flex-col">
        <h1 class="text-md font-bold text-slate-500">{{ title }}</h1>
        <p class="text-sm text-slate-500">
            {{ description }}
        </p>
        <div class="flex flex-row justify-end">
            <a class="text-primary-900 font-bold px-4 py-2 rounded-md mt-4">
                {{button_text}}
                <ng-icon name="heroChevronRight"
                ></ng-icon>
            </a>
        </div>
     </div>
</div>